.homepage {
  height: 90%;

  display: flex;
  position: relative;
  flex-direction: column;

  .homepage-buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;

    > button {
      border-style: solid;
    }
  }
}
