.header-button {
  &:hover {
    background-color:#1f285a;
  }
}

.selected-page {
  background-color:#1f285a;
}

#left {
  float: left;

  > button {
    margin-right: 10px;
  }
}

#right {
  float: right;

  justify-content: center;
}

#container {
  width: 100%;
  text-align: center;
}

.username {
  padding-right: 20px;
}

.header {
  position: fixed;
}


