/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.course-card {
  flex: 0 1 calc(25% - 1em);

  margin: 10px;

  max-height: 200px;
  max-width: 500px;

  .card-buttons {
    justify-content: center;
  }
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  overflow-y: auto;
}

.pagination {
  justify-content: center;

  margin-top: auto;

  padding-top: 10px;
  padding-bottom: 10px;
}
